{
  "openapi": "3.1.0",
  "info": {
    "title": "Construction Material Embodied Carbon API",
    "description": "Supplies indicative embodied carbon figures for construction materials for early-stage comparison. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nice-dune-02fdd5103.3.azurestaticapps.net/api/v1/carbon-embodied",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "paths": {
    "/materials/{id}": {
      "get": {
        "summary": "Look up embodied carbon",
        "description": "Returns an indicative embodied carbon figure for a construction material.",
        "tags": [
          "climate/energy"
        ],
        "operationId": "carbon-embodied-get-materials-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Material identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value returned.",
            "content": {
              "application/json": {
                "example": {
                  "kgCO2ePerKg": 1.1,
                  "unit": "kg",
                  "source": "reference dataset 2024"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Material unknown."
          }
        }
      }
    }
  }
}
