{
  "openapi": "3.1.0",
  "info": {
    "title": "Construction Material Embodied Carbon API",
    "description": "Supplies indicative embodied carbon figures for construction materials for early-stage comparison. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/carbon-embodied",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/materials/{id}": {
      "get": {
        "summary": "Look up embodied carbon",
        "description": "Returns an indicative embodied carbon figure for a construction material.",
        "tags": [
          "climate/energy"
        ],
        "operationId": "carbon-embodied-get-materials-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Material identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value returned.",
            "content": {
              "application/json": {
                "example": {
                  "kgCO2ePerKg": 1.1,
                  "unit": "kg",
                  "source": "reference dataset 2024"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Material unknown."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
