{
  "openapi": "3.1.0",
  "info": {
    "title": "Step-free Accessible Route Planner API",
    "description": "Plans a route that avoids steps and reports accessibility features per leg from supplied data. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/step-free-route",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/routes/step-free": {
      "get": {
        "summary": "Plan a step-free route",
        "description": "Returns a route that avoids steps with accessibility features reported per leg.",
        "tags": [
          "travel/accessibility"
        ],
        "operationId": "step-free-route-get-routes-step-free",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Origin identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Destination identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route planned.",
            "content": {
              "application/json": {
                "example": {
                  "stepsAvoided": 3,
                  "legs": [
                    {
                      "mode": "bus",
                      "levelAccess": true
                    }
                  ],
                  "notes": [
                    "lobby lift out of order"
                  ]
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No accessible route found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
