{
  "openapi": "3.1.0",
  "info": {
    "title": "Similar Property Listings Matching API",
    "description": "Matches a property listing to comparable ones on structured features to help assess asking price. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/property-listing-similarity",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "paths": {
    "/listings/{id}/similar": {
      "post": {
        "summary": "Find similar listings",
        "description": "Returns other listings matching on structured property features with a similarity score.",
        "tags": [
          "property"
        ],
        "operationId": "property-listing-similarity-post-listings-id-similar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Listing identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Similar listings found.",
            "content": {
              "application/json": {
                "example": {
                  "similar": [
                    {
                      "id": "L8821",
                      "score": 0.91
                    }
                  ],
                  "basis": [
                    "type",
                    "sqm",
                    "area"
                  ]
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found."
          }
        }
      }
    }
  }
}
