{
  "openapi": "3.1.0",
  "info": {
    "title": "UK HMO Licensing Rules API",
    "description": "Produces a licensing requirements checklist for an HMO property based on its local council rules. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/hmo-checklist",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/checklists": {
      "get": {
        "summary": "Generate a compliance checklist",
        "description": "Returns a list of licensing requirements that may apply to a property in its area.",
        "tags": [
          "property"
        ],
        "operationId": "hmo-checklist-get-checklists",
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "Property postcode.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist generated.",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "requirement": "smoke-alarm-test",
                      "status": "required"
                    }
                  ],
                  "council": "Bristol"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Council rules unknown for postcode."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
