{
  "openapi": "3.1.0",
  "info": {
    "title": "UK Company Filing Deadline Dates API",
    "description": "Returns upcoming statutory filing deadlines for a company to help avoid late submissions. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/filing-reminder",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/companies/{regNo}/deadlines": {
      "get": {
        "summary": "Upcoming filing deadlines",
        "description": "Returns the next and overdue statutory filing deadlines for a company.",
        "tags": [
          "business records"
        ],
        "operationId": "filing-reminder-get-companies-regno-deadlines",
        "parameters": [
          {
            "name": "regNo",
            "in": "path",
            "required": true,
            "description": "Company registration number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deadlines returned.",
            "content": {
              "application/json": {
                "example": {
                  "next": {
                    "type": "accounts",
                    "due": "2026-11-30"
                  },
                  "late": []
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Company not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
