{
  "openapi": "3.1.0",
  "info": {
    "title": "UK Supplier Verification API",
    "description": "Resolves a supplier to its registry record and verified identifiers for onboarding checks. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/supplier-registry",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/suppliers/{id}": {
      "get": {
        "summary": "Resolve a supplier record",
        "description": "Returns a supplier's registry record and verified identifiers.",
        "tags": [
          "business records"
        ],
        "operationId": "supplier-registry-get-suppliers-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Supplier identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record returned.",
            "content": {
              "application/json": {
                "example": {
                  "regNo": "1234",
                  "vatNo": "GB...",
                  "status": "verified",
                  "foundedYear": 2010
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Supplier not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
