{
  "openapi": "3.1.0",
  "info": {
    "title": "UK Company Solvency Check API",
    "description": "Returns a compact solvency snapshot for a company from its latest filed accounts. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/company-solvency-snapshot",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/companies/{regNo}/solvency": {
      "get": {
        "summary": "Company solvency snapshot",
        "description": "Returns a compact solvency view derived from a company's latest filed accounts.",
        "tags": [
          "business records"
        ],
        "operationId": "company-solvency-snapshot-get-companies-regno-solvency",
        "parameters": [
          {
            "name": "regNo",
            "in": "path",
            "required": true,
            "description": "Company registration number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot returned.",
            "content": {
              "application/json": {
                "example": {
                  "netAssets": 120000,
                  "currentRatio": 1.6,
                  "status": "solvent"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Company or accounts not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
