{
  "openapi": "3.1.0",
  "info": {
    "title": "Unified Court Records and Docket API",
    "description": "Returns court case, docket, filing and party details aggregated across court databases, looked up by party name or case number. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/court-docket-records",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/cases": {
      "get": {
        "summary": "Look up court cases",
        "description": "Returns case and docket details for a party or a specific case number across court databases.",
        "tags": [
          "business records"
        ],
        "operationId": "court-docket-records-get-cases",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "required": false,
            "description": "Party name used to find related cases.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseNumber",
            "in": "query",
            "required": false,
            "description": "A specific case number to look up.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case and docket details returned.",
            "content": {
              "application/json": {
                "example": {
                  "caseNumber": "1:20-cv-01234",
                  "court": "D. Mass.",
                  "status": "open",
                  "docket": [
                    {
                      "filing": "Complaint",
                      "date": "2024-03-01"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "caseNumber": {
                      "type": "string",
                      "description": "The case number."
                    },
                    "court": {
                      "type": "string",
                      "description": "The court where the case is filed."
                    },
                    "status": {
                      "type": "string",
                      "description": "The case status, for example open or closed."
                    },
                    "docket": {
                      "type": "array",
                      "description": "The docket entries for the case.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filing": {
                            "type": "string",
                            "description": "The filing title."
                          },
                          "date": {
                            "type": "string",
                            "description": "The filing date."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No case found for the supplied party or case number."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
