{
  "openapi": "3.1.0",
  "info": {
    "title": "Mobile Coverage Lookup by Postcode API",
    "description": "Returns mobile and 5G coverage availability for a postcode across networks. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nice-dune-02fdd5103.3.azurestaticapps.net/api/v1/mobile-coverage-lookup",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "paths": {
    "/coverage": {
      "get": {
        "summary": "Look up mobile coverage for a postcode",
        "description": "Returns mobile and network availability for the given postcode.",
        "tags": [
          "other"
        ],
        "operationId": "mobile-coverage-lookup-get-coverage",
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "description": "Postcode to look up coverage for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage details returned.",
            "content": {
              "application/json": {
                "example": {
                  "postcode": "SW1A1AA",
                  "networks": [
                    {
                      "name": "Example Mobile",
                      "4g": true,
                      "5g": true
                    }
                  ]
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Postcode not found."
          }
        }
      }
    }
  }
}