{
  "openapi": "3.1.0",
  "info": {
    "title": "Warehouse Dock Appointment Booking API",
    "description": "Books inbound and outbound warehouse bay slots to reduce dock congestion and waiting. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nice-dune-02fdd5103.3.azurestaticapps.net/api/v1/warehouse-slot",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "paths": {
    "/slots": {
      "post": {
        "summary": "Book a warehouse slot",
        "description": "Books a bay arrival window and returns a confirmation with a bay assignment.",
        "tags": [
          "logistics"
        ],
        "operationId": "warehouse-slot-post-slots",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Slot booked.",
            "content": {
              "application/json": {
                "example": {
                  "slotId": "s-881",
                  "status": "confirmed",
                  "bay": "B3"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Slot unavailable."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "warehouse",
                  "window"
                ],
                "properties": {
                  "warehouse": {
                    "type": "string"
                  },
                  "window": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
