{
  "openapi": "3.1.0",
  "info": {
    "title": "Accessible Transit Boarding Info API",
    "description": "Reports boarding accessibility of next departures at a stop from operator-supplied data. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/accessible-transport-board",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/stops/{id}/boarding": {
      "get": {
        "summary": "Next departures boarding access",
        "description": "Returns the next departures at a stop with reported boarding accessibility features.",
        "tags": [
          "travel/accessibility"
        ],
        "operationId": "accessible-transport-board-get-stops-id-boarding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stop identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Departures returned.",
            "content": {
              "application/json": {
                "example": {
                  "next": [
                    {
                      "line": "9",
                      "departs": "14:05",
                      "boarding": "low-floor"
                    }
                  ]
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Stop not found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
