{
  "openapi": "3.1.0",
  "info": {
    "title": "Visa Requirements by Nationality API",
    "description": "Returns the visa requirement for a nationality to a destination from published rules. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/visa-requirements",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/requirements": {
      "get": {
        "summary": "Look up a visa requirement",
        "description": "Returns the visa requirement for a nationality to a destination with a source date.",
        "tags": [
          "travel/accessibility"
        ],
        "operationId": "visa-requirements-get-requirements",
        "parameters": [
          {
            "name": "nationality",
            "in": "query",
            "required": true,
            "description": "Nationality ISO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Destination ISO code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requirement returned.",
            "content": {
              "application/json": {
                "example": {
                  "requirement": "visa-on-arrival",
                  "durationDays": 30,
                  "sourceDate": "2026-07-01"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No rule found for pair."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
