{
  "openapi": "3.1.0",
  "info": {
    "title": "Image Clip Licence Terms Lookup API",
    "description": "Returns the recorded licence terms for a media asset to support safe reuse decisions. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nice-dune-02fdd5103.3.azurestaticapps.net/api/v1/media-licence-lookup",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "paths": {
    "/assets/{id}/licence": {
      "get": {
        "summary": "Look up asset licence terms",
        "description": "Returns the recorded licence terms for a media asset.",
        "tags": [
          "media/documents"
        ],
        "operationId": "media-licence-lookup-get-assets-id-licence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Media asset identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Licence returned.",
            "content": {
              "application/json": {
                "example": {
                  "type": "royalty-free",
                  "allowCommercial": true,
                  "attributionRequired": true
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found."
          }
        }
      }
    }
  }
}
