{
  "openapi": "3.1.0",
  "info": {
    "title": "Waste Carrier Registration Check API",
    "description": "Verifies whether a waste carrier is registered and returns its tier, status and registered address. Pre-launch design; endpoints are not live yet.",
    "version": "0.1.0",
    "x-planned-pricing": {
      "model": "free tier for evaluation, paid tiers by volume",
      "status": "planned; nothing charged before launch"
    }
  },
  "servers": [
    {
      "url": "https://openapiregistry.com/api/v1/waste-carrier-check",
      "description": "Pre-launch: endpoints are not live yet and answer 503."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/carriers": {
      "get": {
        "summary": "Check a waste carrier registration",
        "description": "Looks up a waste carrier by company name, registration number or postcode and returns its registration tier and status.",
        "tags": [
          "health/safety"
        ],
        "operationId": "waste-carrier-check-get-carriers",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Company name to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registration_number",
            "in": "query",
            "required": false,
            "description": "Registration number to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "required": false,
            "description": "Postcode of the carrier's registered address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier registration returned.",
            "content": {
              "application/json": {
                "example": {
                  "name": "Green Waste Ltd",
                  "registration_number": "CBD12345",
                  "tier": "upper",
                  "status": "active",
                  "address": "Bristol"
                },
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "No matching carrier registration found."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Planned for launch: an API key issued on request. Free tier for evaluation, paid tiers by volume; nothing is charged before launch."
      }
    }
  }
}
